@media screen and (max-width:700px) {
     header .container{
         display: flex;
         flex-direction: column;
         margin-bottom: 10px;
     }

     .botao{
         margin-top: 5px;
         width: 190px;
         height: 50px;
     }

     .serie-principal{
        font-size: 14px;
    
        height: 400px;
    
    }
    
    .serie-principal .titulo{
        font-size: 22px;
    }

    header nav a{
        font-size: 14px;
    }
}

@media screen and (min-width:1000px) {
    .descricao{
        width: 70%;
    }
}